---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    700px;

$on-palm:          600px;
$on-laptop:        800px;

a {
  color: #2391D3 !important;
}

.page-heading {
  font-size: 30px !important;
}

.site-header {
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.site-footer {
  text-align: center;
  a { color:#CCC !important; }
}

#landingContainer {
  padding: 3rem;

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: -2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
  }

  #menu {
    margin-top: 30px;

    a {
      font-size: 3.5rem;
      font-weight: bold;
      letter-spacing: -2px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 4rem;
      text-decoration: none;
      color: #CCC !important;
    }

    a.blog {
      color: #999 !important;
    }
  }

  .old {
    color: #ccc;
    text-decoration: line-through;
  }
}

h1.post-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  letter-spacing: -1px;
  color: #222;
  font-weight: 700;
}

.post-meta {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
}

blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 16px !important;
  letter-spacing: -1px;
  font-style: normal !important;
}

.categories {
  color: #aaa;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  letter-spacing: 1px;

  .category {
    padding: 3px 6px;
    border-radius: 3px;
    background: #ededed;
    color: #666;
    letter-spacing: 1px;
    margin: 0 0.5rem;
  }
}

.post-header {
  text-align: center;
}

.wrapper {
  font-size: 12px;
}

.post-content {
  font-size: 16px;
  h1 { font-size: 30px; }
  h2 { font-size: 20px !important; }
}

ul.post-list {
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    letter-spacing: -1px;
    color: #000;
    font-weight: 700;
  }

  h2 a {
    color: #000 !important;
  }
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
